.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    background-color: var(--backgroud-module);
    border-radius: 1em;
    margin-block: 1em;
    padding-block: 2em;
}
.profile-info{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-block: 1em;
    padding-block: 2em;
}
.profile-info > p {
    font-size: 1.2em;
}
svg , img {
    width: 100%;
    height: auto;
    fill: var(--background-link);
}
h2{
    text-align: center;
    font-weight: 700;
    font-size: 3.5em;
    color: white;
    text-shadow: 0 0 10px rgba(0,0, 0, 0.8);
}
h4 {
    text-align: center;
    font-weight: 700;
    font-size: 2.5em;
    color: white;
    text-shadow: 0 0 10px rgba(0,0, 0, 0.8);
    margin-bottom: 1em;
}
.profilePic{
    border: 4px solid var(--background-link);
    border-radius: 50%;
    overflow: hidden;
    width: 20em;
    height: 20em;
    padding: 0.5em;
    box-shadow: 0px 0px 25px 6px rgba(0,0,0,0.5);
}
.media p {
    font-size: 1.5em;
    font-weight: 600;
    font-style: italic;
}
.media{
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 10em;
    margin-inline: 6em;
}

.no-info{
    color: rgba(227, 119, 119, 0.725);
}
.profile-places{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.place-headers, .place{
    margin-inline: 3em;
    font-size: 1.3em;
}
.place-headers{
    font-weight: 600;
}
.real-btn {
    display: flex;
    font-size: 0.6em;
    justify-content: space-evenly;
}
th , td {
    text-align: center;
    border-bottom: 4px solid var(--background-link);;
    padding-block: 0.3em;
}
table{
    border-collapse: collapse;
    margin-inline: 3em;
}