<div class="container">
    <form #form="ngForm" (ngSubmit)="edit(form)" class="form">
        <h1>Edit place!</h1>
        <label for="title">Title</label>
        <input 
            type="text"
            id="title"
            name="title"
            placeholder="Your title..."
            ngModel
            #title="ngModel"
            required 
            minlength="5"
        >
        <ng-container *ngIf="title.touched">
            <p class="error" *ngIf="title.errors?.['required']" > Title is required! </p>
            <p class="error" *ngIf="!!title.errors?.['minlength']" > Title must be a least 5 characters! </p>
        </ng-container>
        <label for="location">Location</label>
        <input 
            type="text" 
            id="location"
            name="location"
            placeholder="Your location..."
            ngModel
            #location="ngModel"
            required 
            minlength="3"
            >
            <ng-container *ngIf="location.touched">
                <p class="error" *ngIf="location.errors?.['required']" > Location is required! </p>
                <p class="error" *ngIf="!!location.errors?.['minlength']" > Location must be a least 3 characters! </p>
            </ng-container>
        <label for="description">Description</label>
        <textarea 
            id="description"
            name="description"
            placeholder="Description of your place..."
            ngModel
            #description="ngModel"
            minlength="10"
        ></textarea> 
        <label for="price">Price</label>
        <input 
            type="number" 
            id="price"
            name="price"
            placeholder="Price for your place..."
            ngModel
            #price="ngModel"
            required 
            [min]="0"
            >
            <ng-container *ngIf="price.touched">
                <p class="error" *ngIf="price.errors?.['required']" > Price is required! </p>
                <p class="error" *ngIf="!!price.errors?.['min']" > Price must be a positive number! </p>
            </ng-container>
            <label for="rooms">Number of rooms</label>
            <input 
                type="number" 
                id="rooms"
                name="rooms"
                ngModel
                #rooms="ngModel"
                placeholder="How many rooms are there in your place?"
                required 
                [min]="0"
                >
                <ng-container *ngIf="rooms.touched">
                    <p class="error" *ngIf="rooms.errors?.['required']" > Rooms is required! </p>
                    <p class="error" *ngIf="!!rooms.errors?.['min']" > Rooms must be a positive number! </p>
                </ng-container>
        <div class="group-container">
            <label for="businesTravel">It`s good for work travels</label>
            <input 
                type="checkbox" 
                id="businesTravel"
                name="businesTravel"
                ngModel
                #businesTravel="ngModel"
                >
        </div>
        <div class="facilities-container">
            <p>Facilities in place</p>
            <div *ngFor="let fac of fasilities">
                <label for={{fac.fname}}>{{fac.text}}</label>
                <input 
                    type="checkbox" 
                    id={{fac.fname}}
                    name={{fac.fname}}
                    ngModel
                    >
            </div>
        </div>
        <div class="currentimages">
            <div class="previewPictures" *ngFor="let image of previousImages;index as i"  (mouseenter)="ShowDelete(i)" (mouseleave)="hideDelete(i)">
                <img src="{{image}}" alt="house">
                <div class="deleteDiv" *ngIf="remove[i]" (click)="removePic(image )">
                    <svg   xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                </div>
            </div>
        </div>
        <div class="selectImageMethod">
            <label for="isUrl ">I have URI path for my photos.</label>
            <input 
                (change)="changeGetPictureMethod()"
                type="checkbox" 
                id=isUrl
                #isURI
                >
        </div>
            <ng-container *ngIf="isUri">
                <div class="img-container" *ngFor="let item of picItems ; index as i">
                    <label for="img{{item}}">Image</label>
                    <input 
                        type="text" 
                        id="img-{{item}}"
                        name="img-{{item}}"
                        placeholder="Description of your place..."
                        ngModel
                        uri
                        minlength=""
                        (blur)="addPicField(item)"
                        >
                        <img class="previewPicture" *ngIf="images[item - 1]" src="{{images[item - 1]}}" alt="something">
                </div>
            </ng-container>
            <ng-container *ngIf="!isUri">
                <app-upload-pictures  (getFiles)="setFiles($event)" [maxNum]="5"/>
            </ng-container>
            <app-err-message/>
        <app-button [text]="'Update'"  />
    </form>
</div>
