.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2em;
    margin-block: 2em;
    padding: 2em;
    border-radius: 1em;
    background-color:var(--backgroud-module);
}

.media-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 44em;
    margin: 0 auto;
}
.images-article{
    max-width: 37em;
    min-width: 19em;
    margin:  2em;
}
.rate-article{
    max-width: 37em;
    min-width: 19em;
    margin:  2em;
    height: 7.5em;
}
.details-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    flex: 0 1 37em;
    min-height: 19em;
    gap: 2em;
}
.info-article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    min-height: 12.5em;
    overflow-y: auto;
}
 .info-article p {
    margin-bottom: 1em;
    font-size: 1.2em;
    font-style: italic;
 }
 .info-article span {
    margin-bottom: 1em;
    font-size: 1.2em;
    font-weight: 700;
 }
.facilities-article{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    min-height: 6em;
    gap: 2em;
}
.fac-div{
    display: flex;
    align-items: center;
    gap: 1em;
    font-weight: 700
}
.owner-info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    flex: 0 1 31em;
    max-height: 37em;
    min-height: 19em;
}
.booking-section{
    margin: 0 auto;
    flex: 0 1 50em;
    max-height: 37em;
    min-height: 19em;
}
.comments-section {
    margin: 0 auto;
    flex: 0 1 81em;
    min-height: 19em;
}