@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');



html{
    font : 16px/1.5 "Noto Sans" , sans-serif;
}
body{
    background-color: rgb(243, 245, 250);
}
body, input, button, textarea, option, select, table, th, td {
    font:inherit;
}

/* p, ul ,ol {
    padding-bottom: 1em;
} */

h1 ,h2 , h3, h4, h5, h6{
    font-family: "Crimson Text" , serif;
    line-height: 1.2;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2.3em;}
h4{font-size: 1.5em;}
h5{font-size: 1.2em;}
h6{font-size: 1em;}

img{
    display: block;
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: black;
}

li, a {
    display: block;
}
