<header>
<div class="site-title">
    <p class="title">EarthBnB</p>
    <p class="sub-title">Plan Your journey</p>
</div>
<nav>
    <ul class="nav-ul">
        <li><app-link  [text]="'Home'" [path]="''"/></li>
        <li><app-link  [text]="'Holiday trips'" [path]="'/holiday-trips/list'"/></li>
        <li><app-link  [text]="'Work trips'" [path]="'/work-trips/list'"/></li>
        <li *ngIf="isAuth" ><app-link  [text]="'Add place'" [path]="'/add-place'"/></li>
    </ul>
</nav>
<div class="header-user-info">
    <ul class="user-info-ul">
        <ng-container *ngIf="!isAuth">
            <li><app-link  [text]="'Login'" [path]="'/login'"/></li>
            <li><app-link  [text]="'Register'" [path]="'/register'"/></li>
        </ng-container>
        <ng-container *ngIf="isAuth">
            <app-button [text]="'Logout'" (newEvent)="logout($event)"/>
            <li><app-link  [text]="'Edit profile'" [path]="'/profile/edit'"/></li>
            <!-- <li><app-link  [text]="'My profile'" [path]="'/profile/details'"/></li> -->
        </ng-container>
    </ul>
</div>
</header>
