header, .nav-ul, .user-info-ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
header{
    justify-content: space-between;
    color: var(--white);
}
a{
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background-color: var(--background-link);
    color: var(--white);
}
.nav-ul, .user-info-ul{
    gap: 2em;
    margin-block: 1em;
}
.user-info-ul{
    margin-left: auto;
}
.site-title{
    text-align: center;
}
.title{
    font-size: 2.2em;
    font-weight: bold;
    text-shadow: 0 0 4px rgba(0,0, 0, 0.8);
}
.sub-title {
    font-style: italic;
    text-shadow: 0 0 4px rgba(0,0, 0, 0.8);
}
