<div class="container">
    <div class="message" *ngFor="let message of messages" (click)="goToMessage(message._id)">
        <p>Messages with </p>
        <p class="nickname">{{getNickcname(message.participants)}}</p>
        <p>for place </p>
        <p class="place">{{message.forPlace.title}}</p>
        <ng-container *ngIf="needApproval(message.approval)">
            <p class="new red">This book is need aplroval! </p>
        </ng-container>
        <ng-container *ngIf="!needApproval(message.approval)">
            <p class="new" *ngIf="getIsHaveNewMessages(message.mesages) > 0">You have {{getIsHaveNewMessages(message.mesages)}}</p>
            <p class="new red" *ngIf="getIsHaveNewMessages(message.mesages) == 0">You don`t have new messages.</p>
        </ng-container>

    </div>
</div>
