.search-form{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    align-items: center;
    margin-block: 2em;
}
 label{
    font-size: 1.2em;
    font-weight: bold;
 }
input, select{
    width: 12em;
    border: 3px solid var(--background-link);
    padding: 0.5em ;
    border-radius: 0.5em;
}

.button-container {
    margin: 0 auto;
}

@media (width <= 700px){
    .search-form{
        flex-direction: column;
    }
}