<div class="search-container">
    <form action="" class="search-form">
        <label for="location">Location:</label>
        <input type="text" id="location">
        <label for="from">Available from:</label>
        <input type="date" id="from">
        <label for="to">Available to:</label>
        <input type="date" id="to">
        <label for="price">Price:</label>
        <select name="price" id="price">
            <option value="litle than 100">&lt;100</option>
            <option value="100-200">100-200</option>
            <option value="200-300">200-300</option>
            <option value="300-400">300-400</option>
            <option value="more than 100">&gt;400</option>
            
        </select>
        <button type="submit">Search</button>
    </form>
</div>
