.form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    margin : 3em auto;
    background-color: var(--backgroud-module);
    border-radius: 1em;
    padding-block: 3em;
    }
    textarea {
        border-radius: 0.5em;
        padding: 0.5em;
        min-width: 40em;
        min-height: 10em;
        resize: none;
        border-width: 2px;
    }
    
    input {
        border-radius: 0.5em;
        padding: 0.5em;
        width: 22em;
    }
    
    label{
        font-size: 1.8em;
        font-weight: bold;
        font-style: italic;
    }
    h1{
        color: var(--white);
        text-shadow: 0 0 10px rgba(0,0, 0, 0.8);
    }
    .selectImageMethod label{
        font-size: 1.2em;
    }
    .selectImageMethod input{
        width: 20px;
        height: 20px;
        margin: 20px;
    }
    .error {
        font-size: 1.2em;
        color: red;
    }
    .previewPictures{
        position: relative;
        display: block;
        width: 200px;
        height: auto;
        border-radius: 1em;
        overflow: hidden;
    }
    svg{
        height: 90%;
        width: 90%;
        fill: red;
        padding: 15%;
    }
    .deleteDiv{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        }
        .preview{
            width: 6.25em;
            height: auto;
            border-radius: 1em;
            overflow: hidden;
        }