<div class="container">
    <form #form="ngForm" (ngSubmit)="edit(form)" class="form">
        <h1>Edit profile</h1>
        <label for="nickname">Nickname :</label>
        <input 
            type="text"
            id="nickname"
            name="nickname"
            placeholder="Your nickname..."
            ngModel
            #nickname="ngModel"
            required 
            minlength="3"
        >
        <ng-container *ngIf="nickname.touched">
            <p class="error" *ngIf="nickname.errors?.['required']" > Nickname is required! </p>
            <p class="error" *ngIf="!!nickname.errors?.['minlength']" > Nickname must be a least 5 characters! </p>
        </ng-container>
        <label for="about">About me : </label>
        <textarea 
            id="about"
            name="about"
            placeholder="About me..."
            ngModel
            #about="ngModel"
            minlength="10"
        ></textarea> 
        <ng-container *ngIf="!profilePic">
        <div class="selectImageMethod">
            <label for="isUrl ">I have URI path for my photo.</label>
            <input 
                (change)="changeGetPictureMethod()"
                type="checkbox" 
                id=isUrl
                #isURI
                >
        </div>
        </ng-container>
        <ng-container *ngIf="profilePic">
            <div class="previewPictures" (mouseenter)="ShowDelete()" (mouseleave)="hideDelete()">
                 <img src={{profilePic}} alt="profile" >  
                 <div class="deleteDiv" *ngIf="remove" (click)="removePic()">
                    <svg   xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
       </div>
            </div>
        </ng-container>
        <ng-container *ngIf="isUri && !profilePic">
            <label for="profilePicture">Profile picture :</label>
            <input 
                type="text" 
                id="profilePicture"
                name="profilePicture"
                ngModel
                uri
                #profilePicture="ngModel"
                >
                <div class="preview">
                    <img class="previewPicture" *ngIf="form?.value?.profilePicture" src={{form?.value?.profilePicture}} alt="something">
                </div>
        </ng-container>
        <ng-container *ngIf="!isUri && !profilePic">
            <app-upload-pictures  (getFiles)="setFiles($event)" [maxNum]="1"/>
        </ng-container>
        <app-err-message/>
        <app-button [text]="'Update profile'"  />
    </form>
</div>
