<div class="container">
<div class="banner">
    <h1>Book your Place</h1>
    <p class="sub-title">Or add your place for reservation</p>
     <a href="#">Let`s begin</a>
</div>
<div class="card-container">
    <article class="card">
        <div class="media">
            <img src="https://media.istockphoto.com/id/1392494719/photo/woman-with-pink-suitcase-and-passport-with-boarding-pass-standing-on-passengers-ladder-of.jpg?s=612x612&w=0&k=20&c=MVUZvIdaUmvRKdG-B5EEGGkIVFj51jss-b6IkxqY3fg=" alt="travel">
        </div>
        <div class="description">
            <h4>Start your Holiday trip</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas assumenda ipsum veritatis aliquam obcaecati tempore laboriosam quae ea repellendus. Sed, ducimus? Dolores modi consectetur voluptatum atque illum animi dignissimos fugiat.</p>
            <a href="#">Find</a>
        </div>
    </article>

    <article class="card">
        <div class="media">
            <img src="https://media.istockphoto.com/id/1164295257/photo/our-business-requires-us-to-travel.jpg?s=612x612&w=0&k=20&c=G4P3Pk7RBHef1pGGYSF_ot51fWO7y3zOb2Wh00KiPUQ=" alt="work travel">
        </div>
        <div class="description">
            <h4>Start your Work trip</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas assumenda ipsum veritatis aliquam obcaecati tempore laboriosam quae ea repellendus. Sed, ducimus? Dolores modi consectetur voluptatum atque illum animi dignissimos fugiat.</p>
            <a href="#">Find</a>
        </div>
    </article>

    <article class="card">
        <div class="media">
            <img src="https://www.linwoodhomes.com/cdn-cgi/image/quality=30/https://dm47sa8vny7s2.cloudfront.net/designs/antler-trail/thumbnail/thumb-antlertrail-600x587.jpg" alt="">
        </div>
        <div class="description">
            <h4>Add your place in our platform</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas assumenda ipsum veritatis aliquam obcaecati tempore laboriosam quae ea repellendus. Sed, ducimus? Dolores modi consectetur voluptatum atque illum animi dignissimos fugiat.</p>
            <a href="#">Add</a>
        </div>
    </article>
</div>
</div>