<div class="container">
    <form action="" class="register-form">
        <label for="username-register">Username</label>
        <input type="text" placeholder="Your username..." id="username-register">
        <label for="password-register">Password</label>
        <input type="password" id="password-register" placeholder="Your password...">
        <label for="comfirm-password">Comfirm password</label>
        <input type="password" id="comfirm-password" placeholder="Comfirm your password...">
        <button type="submit">Register</button> 
    </form>
</div>